* {
  box-sizing: border-box; 
  text-align: center;
}

h1 {
  width: 50px;
  font-size: 50px;
  word-wrap: break-word;
  letter-spacing: 20px; /* Set large letter-spacing as precaution */   
}

body {
  background-color: beige;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.header  {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.header .title {
  margin: 10px;
  color: rgb(75, 73, 73);
}

.btn-group {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

button {
  padding: 16px 16px;
  border-radius: 10px;
  border-color: beige;
  font-weight: bold;
  font-size: 18px;
  color: rgb(75, 73, 73);
  width: 200px;
  height: 100px;
}

button:hover {
  background-color:rgb(238, 238, 158);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 190, 190);
  width: 960px;
  height: 960px;
  border-radius: 9px;
  border: 10px solid rgb(197, 190, 190);
}
  
.grid>div {
  border: 2px solid rgba(236, 238, 243, 0.76);
  background-color: white;
}







